* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 8px 0;
    background-color: azure;
    color: midnightblue;
    font-size: 1.25rem;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 1.5rem;
}

header nav li a {
    color: dodgerblue;
    text-decoration: none;
}

.conteudo {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .conteudo,
section .conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .conteudo {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

.img-sobre {
    margin-right: 32px;
}

#sobre .conteudo {
    font-size: 1.5rem;
}

#contatos .conteudo {
    display: block;
}

.contato-tipos {
    display: flex;
    justify-content: space-between;
}

form input, textarea, button {
    display: block;
    width: 520px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 100px;
}

form button {
    background-color: blue;
    color: cornflowerblue;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: cadetblue;
}

input:focus, textarea:focus {
    outline-color: cadetblue;
}